<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>FBP Demo</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(
            function () {
                $('#classifyfile').attr('disabled', true);
                $('#imagefile').change(
                    function () {
                        if ($(this).val()) {
                            $('#formupload').submit();
                        }
                    }
                );
            }
        );
    </script>
</head>

<body>
<div class="container">
    <div class="page-header">
        <h1><a href="/">FBP Demo</a></h1>
    </div>

    {% if has_result %}
    {% if not result[0] %}
    <!-- we have error in the result. -->
    <div class="alert alert-danger">Error: {{ result[1] }}</div>
    {% else %}
    <div class="media">
        <div class="media-body">
            {% for item in result %}
            <figure class="figure">
                <img class="media-object" width="256" height="256" src={{ item[0] }}>
                <figcaption class="figure-caption text-center">{{item[1]}}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <hr>
    {% endif %}

    <form role="form" action="classify_url" method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="imageurl" id="imageurl"
                       placeholder="Provide an image URL">
                <span class="input-group-btn">
              <input class="btn btn-primary" value="Classify URL" type="submit" id="classifyurl"/>
            </span>
            </div>
        </div>
    </form>

    <form id="formupload" class="form-inline" role="form" action="classify_upload" method="post"
          enctype="multipart/form-data">
        <div class="form-group">
            <label for="imagefile">Or upload an image:</label>
            <input type="file" name="imagefile" id="imagefile">
        </div>
    </form>
    <hr>
</div>

</body>
</html>